body{
    background:#f4f4f4;
}

.completed{
    text-decoration: line-through;
    color:gray;
}

li{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.buttons button{
    margin-left:5px;
}